<%- include("partial/header"); %>

  <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Worker available</h2>
          <p>place your call now to work</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="200">
              <div class="post-box">
                <div class="post-img"><img src="images/lo.jpg"  height="100px" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">+233 553 354 247</span>
                  <span class="post-author">email</span>
                </div>
                <h3 class="post-title">Skills Name here</h3>
                <p>description .....</p>
                   <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>


        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->






<%- include("partial/footer"); %>
