

<br>
<div class="container myprofile">
 <div class="row">
   <div class="col-lg-6 myprofile-11">






       <div class="">
         <h2>Create a Skills</h2>
         <form class="" action="/gige" method="post">
             <label> Skill Nmae: </label>
             <input type="text" name="skillName" placeholder="Skill Name">
             <br>
             <label>Phone Number:</label>
             <input type="tel" name="telNumber" placeholder="0553354247">
             <br>
             <label>Location:</label>
             <input type="text" name="locationName" placeholder="Your Currnt Location">
             <br>
           <input type="file" name="filePassPort">
             <br>
             <textarea name="descriptionDoc" rows="4" cols="50"></textarea>

                   <br>
                 <center>  <button type="submit"><i class="fa fa-database"> </i>Submit</button></center>


         </form>
       </div>
   </div>


 </div>

</div>

<br>
