<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UE WORKERS</title>
</head>
<body>
    
    
   

    <section class="vh-100" style="background-color: #508bfc;">
      
      
      <div class="container py-5 h-100">
       <div class="row justify-content-center">
           <h1>Thanks, SMS sent-message successfuly!</h1>
         <div class="col-lg-3">
           <div class="card shadow-2-strong" style="border-radius: 1rem;">
             <div class="card-body text-center">
                <a href="/">Go Back to Home!</a>
             </div>
      
           </div>
         </div>
        
       </div>
      </div>
      </section>





</body>
</html>